.Task {
  display: flex;
  height: 42px;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 3px;
  width: 100%;
  font-size: 18px;
  user-select: none;
  border: 1px solid #cd16ff;

  &:hover {
    cursor: pointer;
  }
}

.TaskWrapper {
  width: 100%;
}