@tailwind base;
@tailwind components;
@tailwind utilities;

.app {
    padding: 100px;
    display: flex;
    min-height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: #1a002b;
    color: #cd16ff;
}

@media screen and (max-width: 900px) {
    .app {
        padding: 10px;
    }
}

.todos {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    gap: 50px;
}

@media screen and (max-width: 400px) {
    .todos {
        gap: 20px;
    }
}

.loader {
    position: absolute;
    top: 0;
    width: 100%;
}

#root {
    position: absolute;
}
